[submodule "templates/template-next-ts-tailwind"]
path = "templates/template-next-ts-tailwind"
url = https://github.com/pnstack/template-next-ts-tailwind.git
[submodule "templates/template-nest-prisma"]
path = "templates/template-nest-prisma"
url = https://github.com/pnstack/template-nest-prisma.git
[submodule "templates/template-node-typescript"]
path = "templates/template-node-typescript"
url = https://github.com/pnstack/template-node-typescript.git
